In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
data = pd.read_csv('accepted_2007_to_2018Q4.csv')

/Users/ec/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df = pd.DataFrame(data=data)

In [5]:
df

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,fico_range_low,fico_range_high,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,last_fico_range_high,last_fico_range_low,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_act_il,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m,acc_open_past_24mths,avg_cur_bal,bc_open_to_buy,bc_util,chargeoff_within_12_mths,delinq_amnt,mo_sin_old_il_acct,mo_sin_old_rev_tl_op,mo_sin_rcnt_rev_tl_op,mo_sin_rcnt_tl,mort_acc,mths_since_recent_bc,mths_since_recent_bc_dlq,mths_since_recent_inq,mths_since_recent_revol_delinq,num_accts_ever_120_pd,num_actv_bc_tl,num_actv_rev_tl,num_bc_sats,num_bc_tl,num_il_tl,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_120dpd_2m,num_tl_30dpd,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,revol_bal_joint,sec_app_fico_range_low,sec_app_fico_range_high,sec_app_earliest_cr_line,sec_app_inq_last_6mths,sec_app_mort_acc,sec_app_open_acc,sec_app_revol_util,sec_app_open_act_il,sec_app_num_rev_accts,sec_app_chargeoff_within_12_mths,sec_app_collections_12_mths_ex_med,sec_app_mths_since_last_major_derog,hardship_flag,hardship_type,hardship_reason,hardship_status,deferral_term,hardship_amount,hardship_start_date,hardship_end_date,payment_plan_start_date,hardship_length,hardship_dpd,hardship_loan_status,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,leadman,10+ years,MORTGAGE,55000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,190xx,PA,5.91,0.0,Aug-2003,675.0,679.0,1.0,30.0,NaN,7.0,0.0,2765.0,29.7,13.0,w,0.00,0.00,4421.723917,4421.72,3600.00,821.72,0.00,0.0,0.0,Jan-2019,122.67,NaN,Mar-2019,564.0,560.0,0.0,30.0,1.0,Individual,NaN,NaN,NaN,0.0,722.0,144904.0,2.0,2.0,0.0,1.0,21.0,4981.0,36.0,3.0,3.0,722.0,34.0,9300.0,3.0,1.0,4.0,4.0,20701.0,1506.0,37.2,0.0,0.0,148.0,128.0,3.0,3.0,1.0,4.0,69.0,4.0,69.0,2.0,2.0,4.0,2.0,5.0,3.0,4.0,9.0,4.0,7.0,0.0,0.0,0.0,3.0,76.9,0.0,0.0,0.0,178050.0,7746.0,2400.0,13734.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,68355089,NaN,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,C1,Engineer,10+ years,MORTGAGE,65000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,small_business,Business,577xx,SD,16.06,1.0,Dec-1999,715.0,719.0,4.0,6.0,NaN,22.0,0.0,21470.0,19.2,38.0,w,0.00,0.00,25679.660000,25679.66,24700.00,979.66,0.00,0.0,0.0,Jun-2016,926.35,NaN,Mar-2019,699.0,695.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,204396.0,1.0,1.0,0.0,1.0,19.0,18005.0,73.0,2.0,3.0,6472.0,29.0,111800.0,0.0,0.0,6.0,4.0,9733.0,57830.0,27.1,0.0,0.0,113.0,192.0,2.0,2.0,4.0,2.0,NaN,0.0,6.0,0.0,5.0,5.0,13.0,17.0,6.0,20.0,27.0,5.0,22.0,0.0,0.0,0.0,2.0,97.4,7.7,0.0,0.0,314017.0,39475.0,79300.0,24667.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,68341763,NaN,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,B4,truck driver,10+ years,MORTGAGE,63000.0,Not Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,home_improvement,NaN,605xx,IL,10.78,0.0,Aug-2000,695.0,699.0,0.0,NaN,NaN,6.0,0.0,7869.0,56.2,18.0,w,0.00,0.00,22705.924294,22705.92,20000.00,2705.92,0.00,0.0,0.0,Jun-2017,15813.30,NaN,Mar-2019,704.0,700.0,0.0,NaN,1.0,Joint App,71000.0,13.85,Not Verified,0.0,0.0,189699.0,0.0,1.0,0.0,4.0,19.0,10827.0,73.0,0.0,2.0,2081.0,65.0,14000.0,2.0,5.0,1.0,6.0,31617.0,2737.0,55.9,0.0,0.0,125.0,184.0,14.0,14.0,5.0,101.0,NaN,10.0,NaN,0.0,2.0,3.0,2.0,4.0,6.0,4.0,7.0,3.0,6.0,0.0,0.0,0.0,0.0,100.0,50.0,0.0,0.0,218418.0,18696.0,6200.0,14877.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,66310712,NaN,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,C5,Information Systems Officer,10+ years,MORTGAGE,110000.0,Source Verified,Dec-2015,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,076xx,NJ,17.06,0.0,Sep-2008,785.0,789.0,0.0,NaN,NaN,13.0,0.0,7802.0,11.6,17.0,w,15897.65,15897.65,31464.010000,31464.01,19102.35,12361.66,0.00,0.0,0.0,Feb-2019,829.90,Apr-2019,Mar-2019,679.0,675.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,301500.0,1.0,1.0,0.0,1.0,23.0,12609.0,70.0,1.0,1.0,6987.0,45.0,67300.0,0.0,1.0,0.0,2.0,23192.0,54962.0,12.1,0.0,0.0,36.0,87.0,2.0,2.0,1.0,2.0,NaN,NaN,NaN,0.0,4.0,5.0,8.0,10.0,2.0,10.0,13.0,5.0,13.0,0.0,0.0,0.0,1.0,100.0,0.0,0.0,0.0,381215.0,52226.0,62500.0,18000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,68476807,NaN,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,F1,Contract Specialist,3 years,MORTGAGE,104433.0,Source Verified,Dec-2015,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,major_purchase,Major purchase,174xx,PA,25.37,1.0,Jun-1998,695.0,699.0,3.0,12.0,NaN,12.0,0.0,21929.0,64.5,35.0,w,0.00,0.00,11740.500000,11740.50,10400.00,1340.50,0.00,0.0,0.0,Jul-2016,10128.96,NaN,Mar-2018,704.0,700.0,0.0,NaN,1.0,Individual,NaN,NaN,NaN,0.0,0.0,331730.0,1.0,3.0,0.0,3.0,14.0,73839.0,84.0,4.0,7.0,9702.0,78.0,34000.0,2.0,1.0,3.0,10.0,27644.0,4567.0,77.5,0.0,0.0,128.0,210.0,4.0,4.0,6.0,4.0,12.0,1.0,12.0,0.0,4.0,6.0,5.0,9.0,10.0,7.0,19.0,6.0,12.0,0.0,0.0,0.0,4.0,96.6,60.0,0.0,0.0,439570.0,95768.0,20300.0,88097.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260696,88985880,NaN,40000.0,40000.0,40000.0,60 months,10.49,859.56,B,B3,Vice President,9 years,MORTGAGE,227000.0,Verified,Oct-2016,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,NaN,907xx,CA,12.75,7.0,Feb-1995,705.0,709.0,1.0,9.0,NaN,5.0,0.0,8633.0,64.9,37.0,f,23252.59,23252.59,24903.930000,24903.93,16747.41,8156.52,0.00,0.0,0.0,Mar-2019,859.56,Apr-2019,Mar-2019,724.0,720.0,0.0,10.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,28398.0,0.0,2.0,0.0,1.0,15.0,19765.0,46.0,0.0,0.0,5141.0,51.0,13300.0,3.0,0.0,2.0,2.0,5680.0,4070.0,66.9,0.0,0.0,154.0,258.0,33.0,15.0,3.0,41.0,9.0,1.0,9.0,6.0,2.0,3.0,2.0,15.0,9.0,3.0,23.0,3.0,5.0,0.0,0.0,7.0,0.0,75.7,50.0,0.0,0.0,55970.0,28398.0,12300.0,42670.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260697,88224441,NaN,24000.0,24000.0,24000.0,60 months,14.49,564.56,C,C4,Program Manager,6 years,RENT,110000.0,Not Verified,Oct-2016,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,Debt consolidation,334xx,FL,18.30,0.0,Jul-1999,660.0,664.0,0.0,67.0,72.0,10.0,1.0,17641.0,68.1,31.0,f,0.00,0.00,6755.400000,6755.40,3521.91,3233.49,0.00,0.0,0.0,Oct-2017,564.56,NaN,Mar-2019,594.0,590.0,0.0,67.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,62426.0,0.0,2.0,0.0,2.0,20.0,44785.0,78.0,1.0,5.0,6172.0,73.0,25900.0,0.0,0.0,1.0,7.0,6243.0,4660.0,77.5,0.0,0.0,132.0,206.0,9.0,9.0,2.0,9.0,NaN,9.0,NaN,1.0,5.0,7.0,5.0,15.0,4.0,8.0,24.0,7.0,10.0,0.0,0.0,0.0,1.0,96.2,40.0,1.0,0.0,84664.0,62426.0,20700.0,58764.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,Y,Mar-2019,ACTIVE,Mar-2019,10000.0,44.82,1.0
2260698,88215728,NaN,14000.0,14000.0,14000.0,60 months,14.49,329.33,C,C4,Customer Service Technician,10+ years,MORTGAGE,95000.0,Verified,Oct-2016,Current,n,https://lendingclub.com/browse/loanDetail.acti...,NaN,debt_consolidation,NaN,770xx,TX,23.36,0.0,Jun-1996,660.0,664.0,1.0,37.0,NaN,8.0,0.0,7662.0,54.0,22.0,w,8456.12,8456.12,9621.250000,9621.25,5543.88,4027.96,49.41,0.0,0.0,Mar-2019,329.33,Apr-2019,Mar-2019,669.0,665.0,0.0,37.0,1.0,Individual,NaN,NaN,NaN,0.0,0.0,143066.0,0.0,1.0,1.0,2.0,7.0,32071.0,94.0,0.0,1.0,4093.0,84.0,14200.0,3.0,1.0,2.0,3.0,17883.0,1838.0,80.7,0.0,0.0,149.0,243.0,22.0,7.0,1.0,75.0,39.0,6.0,37.0,4.0,3.0,3.0,4.0,12.0,3.0,5.0,17.0,3.0,8.0,0.0,0.0,0.0,1.0,81.8,50.0,0.0,0.0,163804.0,44215.0,9500.0,34169.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260699,Total amount funded in policy code 1: 1465324575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2260700,Total amount funded in policy code 2: 521953170,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.loan_status.value_counts(normalize=True)

Fully Paid                                             0.476298
Current                                                0.388521
Charged Off                                            0.118796
Late (31-120 days)                                     0.009496
In Grace Period                                        0.003732
Late (16-30 days)                                      0.001924
Does not meet the credit policy. Status:Fully Paid     0.000879
Does not meet the credit policy. Status:Charged Off    0.000337
Default                                                0.000018
Name: loan_status, dtype: float64

In [7]:
print(df.columns.tolist())

['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'fico_range_low', 'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'revol_bal_joint', 'sec_app_fico_range_low', 'sec_app_fico_range_high', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog', 'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'disbursement_method', 'debt_settlement_flag', 'debt_settlement_flag_date', 'settlement_status', 'settlement_date', 'settlement_amount', 'settlement_percentage', 'settlement_term']

sample 100k rows from ea csv . merge those two and work w that csv 

sample funtion 

create new df to csv 
create new column w acccepted value

loan_amnt
funded_amnt
funded_amnt_inv
term
int_rate
installment
grade
emp_legnth 
annual_inc
loan status
fico_range_low
fico_range_high
total_pymnt
total_pymnt_inv
total_rec_prncp
total_rec_int
last_fico_range_high
last_fico_range_low

In [9]:
column_names = ['loan_amnt','funded_amnt','funded_amnt_inv','term','int_rate','installment','grade','emp_legnth','annual_inc','loan_status','fico_range_low','fico_range_high','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','last_fico_range_high','last_fico_range_low']

In [11]:
df1 = df[['loan_amnt','funded_amnt','funded_amnt_inv','term','int_rate','installment','grade','annual_inc','loan_status','fico_range_low','fico_range_high','total_pymnt','total_pymnt_inv','total_rec_prncp','total_rec_int','last_fico_range_high','last_fico_range_low']]
df1

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,annual_inc,loan_status,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low
0,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,55000.0,Fully Paid,675.0,679.0,4421.723917,4421.72,3600.00,821.72,564.0,560.0
1,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,65000.0,Fully Paid,715.0,719.0,25679.660000,25679.66,24700.00,979.66,699.0,695.0
2,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,63000.0,Fully Paid,695.0,699.0,22705.924294,22705.92,20000.00,2705.92,704.0,700.0
3,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,110000.0,Current,785.0,789.0,31464.010000,31464.01,19102.35,12361.66,679.0,675.0
4,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,104433.0,Fully Paid,695.0,699.0,11740.500000,11740.50,10400.00,1340.50,704.0,700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260696,40000.0,40000.0,40000.0,60 months,10.49,859.56,B,227000.0,Current,705.0,709.0,24903.930000,24903.93,16747.41,8156.52,724.0,720.0
2260697,24000.0,24000.0,24000.0,60 months,14.49,564.56,C,110000.0,Charged Off,660.0,664.0,6755.400000,6755.40,3521.91,3233.49,594.0,590.0
2260698,14000.0,14000.0,14000.0,60 months,14.49,329.33,C,95000.0,Current,660.0,664.0,9621.250000,9621.25,5543.88,4027.96,669.0,665.0
2260699,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2260700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Data columns (total 17 columns):
 #   Column                Dtype
---  ------                -----
 0   loan_amnt             float64
 1   funded_amnt           float64
 2   funded_amnt_inv       float64
 3   term                  object
 4   int_rate              float64
 5   installment           float64
 6   grade                 object
 7   annual_inc            float64
 8   loan_status           object
 9   fico_range_low        float64
 10  fico_range_high       float64
 11  total_pymnt           float64
 12  total_pymnt_inv       float64
 13  total_rec_prncp       float64
 14  total_rec_int         float64
 15  last_fico_range_high  float64
 16  last_fico_range_low   float64
dtypes: float64(14), object(3)
memory usage: 293.2+ MB

In [13]:
df1.head(-5)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,annual_inc,loan_status,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low
0,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,55000.0,Fully Paid,675.0,679.0,4421.723917,4421.72,3600.00,821.72,564.0,560.0
1,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,65000.0,Fully Paid,715.0,719.0,25679.660000,25679.66,24700.00,979.66,699.0,695.0
2,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,63000.0,Fully Paid,695.0,699.0,22705.924294,22705.92,20000.00,2705.92,704.0,700.0
3,35000.0,35000.0,35000.0,60 months,14.85,829.90,C,110000.0,Current,785.0,789.0,31464.010000,31464.01,19102.35,12361.66,679.0,675.0
4,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,104433.0,Fully Paid,695.0,699.0,11740.500000,11740.50,10400.00,1340.50,704.0,700.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260691,32000.0,32000.0,32000.0,60 months,14.49,752.74,C,157000.0,Charged Off,735.0,739.0,3737.940000,3737.94,1876.47,1861.47,499.0,0.0
2260692,16000.0,16000.0,16000.0,60 months,12.79,362.34,C,150000.0,Fully Paid,665.0,669.0,18660.607569,18660.61,16000.00,2660.61,684.0,680.0
2260693,24000.0,24000.0,24000.0,60 months,10.49,515.74,B,125000.0,Current,725.0,729.0,14977.430000,14977.43,10048.57,4928.86,739.0,735.0
2260694,24000.0,24000.0,24000.0,60 months,12.79,543.50,C,95000.0,Current,665.0,669.0,15760.500000,15760.50,9712.61,6047.89,709.0,705.0
2260695,24000.0,24000.0,24000.0,60 months,10.49,515.74,B,108000.0,Current,695.0,699.0,15008.530000,15008.53,10048.58,4959.95,734.0,730.0

In [14]:
df1.loan_status.value_counts

<bound method IndexOpsMixin.value_counts of 0           Fully Paid
1           Fully Paid
2           Fully Paid
3              Current
4           Fully Paid
              ...
2260696        Current
2260697    Charged Off
2260698        Current
2260699            NaN
2260700            NaN
Name: loan_status, Length: 2260701, dtype: object>

In [15]:
df1.loan_status.dtype

dtype('O')

In [16]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Data columns (total 17 columns):
 #   Column                Dtype
---  ------                -----
 0   loan_amnt             float64
 1   funded_amnt           float64
 2   funded_amnt_inv       float64
 3   term                  object
 4   int_rate              float64
 5   installment           float64
 6   grade                 object
 7   annual_inc            float64
 8   loan_status           object
 9   fico_range_low        float64
 10  fico_range_high       float64
 11  total_pymnt           float64
 12  total_pymnt_inv       float64
 13  total_rec_prncp       float64
 14  total_rec_int         float64
 15  last_fico_range_high  float64
 16  last_fico_range_low   float64
dtypes: float64(14), object(3)
memory usage: 293.2+ MB

In [17]:
df2 = df1[(df1['loan_status'] == 'Fully Paid') | (df1['loan_status'] == 'Charged Off')]
df2

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,annual_inc,loan_status,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low
0,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,55000.0,Fully Paid,675.0,679.0,4421.723917,4421.72,3600.00,821.72,564.0,560.0
1,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,65000.0,Fully Paid,715.0,719.0,25679.660000,25679.66,24700.00,979.66,699.0,695.0
2,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,63000.0,Fully Paid,695.0,699.0,22705.924294,22705.92,20000.00,2705.92,704.0,700.0
4,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,104433.0,Fully Paid,695.0,699.0,11740.500000,11740.50,10400.00,1340.50,704.0,700.0
5,11950.0,11950.0,11950.0,36 months,13.44,405.18,C,34000.0,Fully Paid,690.0,694.0,13708.948530,13708.95,11950.00,1758.95,759.0,755.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260688,18000.0,18000.0,18000.0,60 months,9.49,377.95,B,130000.0,Fully Paid,735.0,739.0,20756.233632,20756.23,18000.00,2756.23,709.0,705.0
2260690,29400.0,29400.0,29400.0,60 months,13.99,683.94,C,180792.0,Fully Paid,705.0,709.0,35848.764532,35848.76,29400.00,6448.76,719.0,715.0
2260691,32000.0,32000.0,32000.0,60 months,14.49,752.74,C,157000.0,Charged Off,735.0,739.0,3737.940000,3737.94,1876.47,1861.47,499.0,0.0
2260692,16000.0,16000.0,16000.0,60 months,12.79,362.34,C,150000.0,Fully Paid,665.0,669.0,18660.607569,18660.61,16000.00,2660.61,684.0,680.0
2260697,24000.0,24000.0,24000.0,60 months,14.49,564.56,C,110000.0,Charged Off,660.0,664.0,6755.400000,6755.40,3521.91,3233.49,594.0,590.0

In [18]:
df1.loan_status.value_counts()

Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: loan_status, dtype: int64

In [19]:
df2.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,annual_inc,loan_status,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low
0,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,55000.0,Fully Paid,675.0,679.0,4421.723917,4421.72,3600.0,821.72,564.0,560.0
1,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,65000.0,Fully Paid,715.0,719.0,25679.660000,25679.66,24700.0,979.66,699.0,695.0
2,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,63000.0,Fully Paid,695.0,699.0,22705.924294,22705.92,20000.0,2705.92,704.0,700.0
4,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,104433.0,Fully Paid,695.0,699.0,11740.500000,11740.50,10400.0,1340.50,704.0,700.0
5,11950.0,11950.0,11950.0,36 months,13.44,405.18,C,34000.0,Fully Paid,690.0,694.0,13708.948530,13708.95,11950.0,1758.95,759.0,755.0

In [20]:
df2.loan_status.value_counts()

Fully Paid     1076751
Charged Off     268559
Name: loan_status, dtype: int64

In [21]:
df3 = df2.groupby("loan_status").sample(n=100000, random_state=1)
df3

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,annual_inc,loan_status,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low
218963,8800.0,8800.0,8800.0,36 months,15.61,307.70,D,30000.0,Charged Off,680.0,684.0,3677.140000,3677.14,2492.02,1185.12,574.0,570.0
1086540,17300.0,17300.0,17300.0,60 months,21.48,472.71,E,28080.0,Charged Off,675.0,679.0,15449.750000,15449.75,7248.86,8200.89,499.0,0.0
1105313,16800.0,16800.0,16800.0,60 months,19.48,440.26,E,80000.0,Charged Off,695.0,699.0,1815.580000,1815.58,686.65,1128.93,619.0,615.0
1053847,16000.0,16000.0,16000.0,36 months,5.32,481.84,A,85000.0,Charged Off,750.0,754.0,7653.180000,7653.18,5486.21,776.97,549.0,545.0
175573,10000.0,10000.0,9875.0,36 months,12.29,333.53,C,35035.0,Charged Off,680.0,684.0,5374.810000,5307.62,3987.91,1386.90,569.0,565.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1706429,8400.0,8400.0,8400.0,36 months,14.99,291.15,C,38684.0,Fully Paid,670.0,674.0,9812.675465,9812.68,8400.00,1412.68,729.0,725.0
1793080,24000.0,24000.0,24000.0,60 months,15.10,572.22,C,75000.0,Fully Paid,720.0,724.0,34333.101034,34333.10,24000.00,10333.10,814.0,810.0
190224,35000.0,35000.0,35000.0,60 months,18.25,893.54,E,155000.0,Fully Paid,695.0,699.0,37288.040000,37288.04,35000.00,2288.04,689.0,685.0
1847861,2800.0,2800.0,2800.0,36 months,13.11,94.50,B,49200.0,Fully Paid,735.0,739.0,3181.949958,3181.95,2800.00,381.95,799.0,795.0
509026,35425.0,35425.0,35425.0,36 months,21.45,1342.84,D,250000.0,Fully Paid,780.0,784.0,38381.026958,38381.03,35425.00,2956.03,729.0,725.0

In [22]:
df3.loan_status.value_counts()

Fully Paid     100000
Charged Off    100000
Name: loan_status, dtype: int64

In [23]:
df3.grade.value_counts()

C    59470
B    51110
D    35868
A    25785
E    18687
F     6942
G     2138
Name: grade, dtype: int64

In [24]:
df3.to_csv('df.csv')

In [25]:
df3['is_delinquent'] = df3.loan_status.map(lambda x: 1 if x == 'Charged Off' else 0)
df3.head(-5)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,annual_inc,loan_status,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low,is_delinquent
218963,8800.0,8800.0,8800.0,36 months,15.61,307.70,D,30000.0,Charged Off,680.0,684.0,3677.140000,3677.14,2492.02,1185.12,574.0,570.0,1
1086540,17300.0,17300.0,17300.0,60 months,21.48,472.71,E,28080.0,Charged Off,675.0,679.0,15449.750000,15449.75,7248.86,8200.89,499.0,0.0,1
1105313,16800.0,16800.0,16800.0,60 months,19.48,440.26,E,80000.0,Charged Off,695.0,699.0,1815.580000,1815.58,686.65,1128.93,619.0,615.0,1
1053847,16000.0,16000.0,16000.0,36 months,5.32,481.84,A,85000.0,Charged Off,750.0,754.0,7653.180000,7653.18,5486.21,776.97,549.0,545.0,1
175573,10000.0,10000.0,9875.0,36 months,12.29,333.53,C,35035.0,Charged Off,680.0,684.0,5374.810000,5307.62,3987.91,1386.90,569.0,565.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1350619,16000.0,16000.0,16000.0,36 months,10.99,523.75,B,44000.0,Fully Paid,675.0,679.0,18004.570000,18004.57,16000.00,2004.57,804.0,800.0,0
721016,12000.0,12000.0,12000.0,36 months,21.97,458.10,E,55000.0,Fully Paid,660.0,664.0,14217.191838,14217.19,12000.00,2217.19,724.0,720.0,0
692623,12000.0,12000.0,12000.0,36 months,8.39,378.20,B,64000.0,Fully Paid,665.0,669.0,12741.214833,12741.21,12000.00,741.21,659.0,655.0,0
2163433,10000.0,10000.0,10000.0,60 months,15.99,243.13,C,130000.0,Fully Paid,715.0,719.0,11908.128929,11908.13,10000.00,1908.13,684.0,680.0,0
1202082,1000.0,1000.0,1000.0,36 months,15.61,34.97,D,46000.0,Fully Paid,705.0,709.0,1064.460000,1064.46,1000.00,64.46,684.0,680.0,0

In [26]:
df3

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,annual_inc,loan_status,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low,is_delinquent
218963,8800.0,8800.0,8800.0,36 months,15.61,307.70,D,30000.0,Charged Off,680.0,684.0,3677.140000,3677.14,2492.02,1185.12,574.0,570.0,1
1086540,17300.0,17300.0,17300.0,60 months,21.48,472.71,E,28080.0,Charged Off,675.0,679.0,15449.750000,15449.75,7248.86,8200.89,499.0,0.0,1
1105313,16800.0,16800.0,16800.0,60 months,19.48,440.26,E,80000.0,Charged Off,695.0,699.0,1815.580000,1815.58,686.65,1128.93,619.0,615.0,1
1053847,16000.0,16000.0,16000.0,36 months,5.32,481.84,A,85000.0,Charged Off,750.0,754.0,7653.180000,7653.18,5486.21,776.97,549.0,545.0,1
175573,10000.0,10000.0,9875.0,36 months,12.29,333.53,C,35035.0,Charged Off,680.0,684.0,5374.810000,5307.62,3987.91,1386.90,569.0,565.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1706429,8400.0,8400.0,8400.0,36 months,14.99,291.15,C,38684.0,Fully Paid,670.0,674.0,9812.675465,9812.68,8400.00,1412.68,729.0,725.0,0
1793080,24000.0,24000.0,24000.0,60 months,15.10,572.22,C,75000.0,Fully Paid,720.0,724.0,34333.101034,34333.10,24000.00,10333.10,814.0,810.0,0
190224,35000.0,35000.0,35000.0,60 months,18.25,893.54,E,155000.0,Fully Paid,695.0,699.0,37288.040000,37288.04,35000.00,2288.04,689.0,685.0,0
1847861,2800.0,2800.0,2800.0,36 months,13.11,94.50,B,49200.0,Fully Paid,735.0,739.0,3181.949958,3181.95,2800.00,381.95,799.0,795.0,0
509026,35425.0,35425.0,35425.0,36 months,21.45,1342.84,D,250000.0,Fully Paid,780.0,784.0,38381.026958,38381.03,35425.00,2956.03,729.0,725.0,0

In [27]:
df3.drop(columns='grade', inplace=True)
df3

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,annual_inc,loan_status,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low,is_delinquent
218963,8800.0,8800.0,8800.0,36 months,15.61,307.70,30000.0,Charged Off,680.0,684.0,3677.140000,3677.14,2492.02,1185.12,574.0,570.0,1
1086540,17300.0,17300.0,17300.0,60 months,21.48,472.71,28080.0,Charged Off,675.0,679.0,15449.750000,15449.75,7248.86,8200.89,499.0,0.0,1
1105313,16800.0,16800.0,16800.0,60 months,19.48,440.26,80000.0,Charged Off,695.0,699.0,1815.580000,1815.58,686.65,1128.93,619.0,615.0,1
1053847,16000.0,16000.0,16000.0,36 months,5.32,481.84,85000.0,Charged Off,750.0,754.0,7653.180000,7653.18,5486.21,776.97,549.0,545.0,1
175573,10000.0,10000.0,9875.0,36 months,12.29,333.53,35035.0,Charged Off,680.0,684.0,5374.810000,5307.62,3987.91,1386.90,569.0,565.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1706429,8400.0,8400.0,8400.0,36 months,14.99,291.15,38684.0,Fully Paid,670.0,674.0,9812.675465,9812.68,8400.00,1412.68,729.0,725.0,0
1793080,24000.0,24000.0,24000.0,60 months,15.10,572.22,75000.0,Fully Paid,720.0,724.0,34333.101034,34333.10,24000.00,10333.10,814.0,810.0,0
190224,35000.0,35000.0,35000.0,60 months,18.25,893.54,155000.0,Fully Paid,695.0,699.0,37288.040000,37288.04,35000.00,2288.04,689.0,685.0,0
1847861,2800.0,2800.0,2800.0,36 months,13.11,94.50,49200.0,Fully Paid,735.0,739.0,3181.949958,3181.95,2800.00,381.95,799.0,795.0,0
509026,35425.0,35425.0,35425.0,36 months,21.45,1342.84,250000.0,Fully Paid,780.0,784.0,38381.026958,38381.03,35425.00,2956.03,729.0,725.0,0

In [28]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200000 entries, 218963 to 509026
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   loan_amnt             200000 non-null  float64
 1   funded_amnt           200000 non-null  float64
 2   funded_amnt_inv       200000 non-null  float64
 3   term                  200000 non-null  object
 4   int_rate              200000 non-null  float64
 5   installment           200000 non-null  float64
 6   annual_inc            200000 non-null  float64
 7   loan_status           200000 non-null  object
 8   fico_range_low        200000 non-null  float64
 9   fico_range_high       200000 non-null  float64
 10  total_pymnt           200000 non-null  float64
 11  total_pymnt_inv       200000 non-null  float64
 12  total_rec_prncp       200000 non-null  float64
 13  total_rec_int         200000 non-null  float64
 14  last_fico_range_high  200000 non-null  float64
 15  last_fico_range_low   200000 non-null  float64
 16  is_delinquent         200000 non-null  int64
dtypes: float64(14), int64(1), object(2)
memory usage: 27.5+ MB

In [29]:
df3.drop(columns='loan_status', inplace = True)
df3

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,annual_inc,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low,is_delinquent
218963,8800.0,8800.0,8800.0,36 months,15.61,307.70,30000.0,680.0,684.0,3677.140000,3677.14,2492.02,1185.12,574.0,570.0,1
1086540,17300.0,17300.0,17300.0,60 months,21.48,472.71,28080.0,675.0,679.0,15449.750000,15449.75,7248.86,8200.89,499.0,0.0,1
1105313,16800.0,16800.0,16800.0,60 months,19.48,440.26,80000.0,695.0,699.0,1815.580000,1815.58,686.65,1128.93,619.0,615.0,1
1053847,16000.0,16000.0,16000.0,36 months,5.32,481.84,85000.0,750.0,754.0,7653.180000,7653.18,5486.21,776.97,549.0,545.0,1
175573,10000.0,10000.0,9875.0,36 months,12.29,333.53,35035.0,680.0,684.0,5374.810000,5307.62,3987.91,1386.90,569.0,565.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1706429,8400.0,8400.0,8400.0,36 months,14.99,291.15,38684.0,670.0,674.0,9812.675465,9812.68,8400.00,1412.68,729.0,725.0,0
1793080,24000.0,24000.0,24000.0,60 months,15.10,572.22,75000.0,720.0,724.0,34333.101034,34333.10,24000.00,10333.10,814.0,810.0,0
190224,35000.0,35000.0,35000.0,60 months,18.25,893.54,155000.0,695.0,699.0,37288.040000,37288.04,35000.00,2288.04,689.0,685.0,0
1847861,2800.0,2800.0,2800.0,36 months,13.11,94.50,49200.0,735.0,739.0,3181.949958,3181.95,2800.00,381.95,799.0,795.0,0
509026,35425.0,35425.0,35425.0,36 months,21.45,1342.84,250000.0,780.0,784.0,38381.026958,38381.03,35425.00,2956.03,729.0,725.0,0

df3.to_csv('df.csv')

In [30]:
df3.term.value_counts()

 36 months    140499
 60 months     59501
Name: term, dtype: int64

In [31]:
df3['long_term_loan'] = df3.term.map(lambda x: 1 if x == '60 months' else 0)
df3.head(-5)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,annual_inc,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low,is_delinquent,long_term_loan
218963,8800.0,8800.0,8800.0,36 months,15.61,307.70,30000.0,680.0,684.0,3677.140000,3677.14,2492.02,1185.12,574.0,570.0,1,0
1086540,17300.0,17300.0,17300.0,60 months,21.48,472.71,28080.0,675.0,679.0,15449.750000,15449.75,7248.86,8200.89,499.0,0.0,1,0
1105313,16800.0,16800.0,16800.0,60 months,19.48,440.26,80000.0,695.0,699.0,1815.580000,1815.58,686.65,1128.93,619.0,615.0,1,0
1053847,16000.0,16000.0,16000.0,36 months,5.32,481.84,85000.0,750.0,754.0,7653.180000,7653.18,5486.21,776.97,549.0,545.0,1,0
175573,10000.0,10000.0,9875.0,36 months,12.29,333.53,35035.0,680.0,684.0,5374.810000,5307.62,3987.91,1386.90,569.0,565.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1350619,16000.0,16000.0,16000.0,36 months,10.99,523.75,44000.0,675.0,679.0,18004.570000,18004.57,16000.00,2004.57,804.0,800.0,0,0
721016,12000.0,12000.0,12000.0,36 months,21.97,458.10,55000.0,660.0,664.0,14217.191838,14217.19,12000.00,2217.19,724.0,720.0,0,0
692623,12000.0,12000.0,12000.0,36 months,8.39,378.20,64000.0,665.0,669.0,12741.214833,12741.21,12000.00,741.21,659.0,655.0,0,0
2163433,10000.0,10000.0,10000.0,60 months,15.99,243.13,130000.0,715.0,719.0,11908.128929,11908.13,10000.00,1908.13,684.0,680.0,0,0
1202082,1000.0,1000.0,1000.0,36 months,15.61,34.97,46000.0,705.0,709.0,1064.460000,1064.46,1000.00,64.46,684.0,680.0,0,0

In [32]:
df3.long_term_loan.value_counts()

0    200000
Name: long_term_loan, dtype: int64

In [33]:
df2

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,annual_inc,loan_status,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low
0,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,55000.0,Fully Paid,675.0,679.0,4421.723917,4421.72,3600.00,821.72,564.0,560.0
1,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,65000.0,Fully Paid,715.0,719.0,25679.660000,25679.66,24700.00,979.66,699.0,695.0
2,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,63000.0,Fully Paid,695.0,699.0,22705.924294,22705.92,20000.00,2705.92,704.0,700.0
4,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,104433.0,Fully Paid,695.0,699.0,11740.500000,11740.50,10400.00,1340.50,704.0,700.0
5,11950.0,11950.0,11950.0,36 months,13.44,405.18,C,34000.0,Fully Paid,690.0,694.0,13708.948530,13708.95,11950.00,1758.95,759.0,755.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260688,18000.0,18000.0,18000.0,60 months,9.49,377.95,B,130000.0,Fully Paid,735.0,739.0,20756.233632,20756.23,18000.00,2756.23,709.0,705.0
2260690,29400.0,29400.0,29400.0,60 months,13.99,683.94,C,180792.0,Fully Paid,705.0,709.0,35848.764532,35848.76,29400.00,6448.76,719.0,715.0
2260691,32000.0,32000.0,32000.0,60 months,14.49,752.74,C,157000.0,Charged Off,735.0,739.0,3737.940000,3737.94,1876.47,1861.47,499.0,0.0
2260692,16000.0,16000.0,16000.0,60 months,12.79,362.34,C,150000.0,Fully Paid,665.0,669.0,18660.607569,18660.61,16000.00,2660.61,684.0,680.0
2260697,24000.0,24000.0,24000.0,60 months,14.49,564.56,C,110000.0,Charged Off,660.0,664.0,6755.400000,6755.40,3521.91,3233.49,594.0,590.0

In [34]:
df2['is_delinquent'] = df2.loan_status.map(lambda x: 1 if x == 'Charged Off' else 0)
df2.head(-5)

<ipython-input-34-9179c6202750>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['is_delinquent'] = df2.loan_status.map(lambda x: 1 if x == 'Charged Off' else 0)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,annual_inc,loan_status,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low,is_delinquent
0,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,55000.0,Fully Paid,675.0,679.0,4421.723917,4421.72,3600.00,821.72,564.0,560.0,0
1,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,65000.0,Fully Paid,715.0,719.0,25679.660000,25679.66,24700.00,979.66,699.0,695.0,0
2,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,63000.0,Fully Paid,695.0,699.0,22705.924294,22705.92,20000.00,2705.92,704.0,700.0,0
4,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,104433.0,Fully Paid,695.0,699.0,11740.500000,11740.50,10400.00,1340.50,704.0,700.0,0
5,11950.0,11950.0,11950.0,36 months,13.44,405.18,C,34000.0,Fully Paid,690.0,694.0,13708.948530,13708.95,11950.00,1758.95,759.0,755.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260677,11200.0,11200.0,11200.0,60 months,13.49,257.66,C,86000.0,Charged Off,665.0,669.0,6182.920000,6182.92,3606.66,2576.26,499.0,0.0,1
2260680,40000.0,40000.0,39975.0,60 months,15.59,964.03,C,220000.0,Fully Paid,715.0,719.0,42089.416411,42063.11,40000.00,2089.42,779.0,775.0,0
2260684,15000.0,15000.0,15000.0,36 months,10.49,487.47,B,60000.0,Fully Paid,680.0,684.0,15908.001163,15908.00,15000.00,908.00,724.0,720.0,0
2260685,36400.0,36400.0,36400.0,60 months,14.49,856.24,C,95000.0,Charged Off,720.0,724.0,2539.420000,2539.42,1265.29,1274.13,554.0,550.0,1
2260686,23800.0,23800.0,23800.0,60 months,14.49,559.85,C,119000.0,Fully Paid,685.0,689.0,29818.871195,29818.87,23800.00,6018.87,679.0,675.0,0

In [35]:
df2.drop(columns='loan_status', inplace = True)
df2

/Users/ec/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,annual_inc,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low,is_delinquent
0,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,55000.0,675.0,679.0,4421.723917,4421.72,3600.00,821.72,564.0,560.0,0
1,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,65000.0,715.0,719.0,25679.660000,25679.66,24700.00,979.66,699.0,695.0,0
2,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,63000.0,695.0,699.0,22705.924294,22705.92,20000.00,2705.92,704.0,700.0,0
4,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,104433.0,695.0,699.0,11740.500000,11740.50,10400.00,1340.50,704.0,700.0,0
5,11950.0,11950.0,11950.0,36 months,13.44,405.18,C,34000.0,690.0,694.0,13708.948530,13708.95,11950.00,1758.95,759.0,755.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260688,18000.0,18000.0,18000.0,60 months,9.49,377.95,B,130000.0,735.0,739.0,20756.233632,20756.23,18000.00,2756.23,709.0,705.0,0
2260690,29400.0,29400.0,29400.0,60 months,13.99,683.94,C,180792.0,705.0,709.0,35848.764532,35848.76,29400.00,6448.76,719.0,715.0,0
2260691,32000.0,32000.0,32000.0,60 months,14.49,752.74,C,157000.0,735.0,739.0,3737.940000,3737.94,1876.47,1861.47,499.0,0.0,1
2260692,16000.0,16000.0,16000.0,60 months,12.79,362.34,C,150000.0,665.0,669.0,18660.607569,18660.61,16000.00,2660.61,684.0,680.0,0
2260697,24000.0,24000.0,24000.0,60 months,14.49,564.56,C,110000.0,660.0,664.0,6755.400000,6755.40,3521.91,3233.49,594.0,590.0,1

In [36]:
df3

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,annual_inc,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low,is_delinquent,long_term_loan
218963,8800.0,8800.0,8800.0,36 months,15.61,307.70,30000.0,680.0,684.0,3677.140000,3677.14,2492.02,1185.12,574.0,570.0,1,0
1086540,17300.0,17300.0,17300.0,60 months,21.48,472.71,28080.0,675.0,679.0,15449.750000,15449.75,7248.86,8200.89,499.0,0.0,1,0
1105313,16800.0,16800.0,16800.0,60 months,19.48,440.26,80000.0,695.0,699.0,1815.580000,1815.58,686.65,1128.93,619.0,615.0,1,0
1053847,16000.0,16000.0,16000.0,36 months,5.32,481.84,85000.0,750.0,754.0,7653.180000,7653.18,5486.21,776.97,549.0,545.0,1,0
175573,10000.0,10000.0,9875.0,36 months,12.29,333.53,35035.0,680.0,684.0,5374.810000,5307.62,3987.91,1386.90,569.0,565.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1706429,8400.0,8400.0,8400.0,36 months,14.99,291.15,38684.0,670.0,674.0,9812.675465,9812.68,8400.00,1412.68,729.0,725.0,0,0
1793080,24000.0,24000.0,24000.0,60 months,15.10,572.22,75000.0,720.0,724.0,34333.101034,34333.10,24000.00,10333.10,814.0,810.0,0,0
190224,35000.0,35000.0,35000.0,60 months,18.25,893.54,155000.0,695.0,699.0,37288.040000,37288.04,35000.00,2288.04,689.0,685.0,0,0
1847861,2800.0,2800.0,2800.0,36 months,13.11,94.50,49200.0,735.0,739.0,3181.949958,3181.95,2800.00,381.95,799.0,795.0,0,0
509026,35425.0,35425.0,35425.0,36 months,21.45,1342.84,250000.0,780.0,784.0,38381.026958,38381.03,35425.00,2956.03,729.0,725.0,0,0

In [37]:
df2['long_term_loan'] = df2.term.map(lambda x: 1 if x == '60 months' else 0)
df2.head(-5)

<ipython-input-37-94bfdf05185d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['long_term_loan'] = df2.term.map(lambda x: 1 if x == '60 months' else 0)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,annual_inc,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low,is_delinquent,long_term_loan
0,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,55000.0,675.0,679.0,4421.723917,4421.72,3600.00,821.72,564.0,560.0,0,0
1,24700.0,24700.0,24700.0,36 months,11.99,820.28,C,65000.0,715.0,719.0,25679.660000,25679.66,24700.00,979.66,699.0,695.0,0,0
2,20000.0,20000.0,20000.0,60 months,10.78,432.66,B,63000.0,695.0,699.0,22705.924294,22705.92,20000.00,2705.92,704.0,700.0,0,0
4,10400.0,10400.0,10400.0,60 months,22.45,289.91,F,104433.0,695.0,699.0,11740.500000,11740.50,10400.00,1340.50,704.0,700.0,0,0
5,11950.0,11950.0,11950.0,36 months,13.44,405.18,C,34000.0,690.0,694.0,13708.948530,13708.95,11950.00,1758.95,759.0,755.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260677,11200.0,11200.0,11200.0,60 months,13.49,257.66,C,86000.0,665.0,669.0,6182.920000,6182.92,3606.66,2576.26,499.0,0.0,1,0
2260680,40000.0,40000.0,39975.0,60 months,15.59,964.03,C,220000.0,715.0,719.0,42089.416411,42063.11,40000.00,2089.42,779.0,775.0,0,0
2260684,15000.0,15000.0,15000.0,36 months,10.49,487.47,B,60000.0,680.0,684.0,15908.001163,15908.00,15000.00,908.00,724.0,720.0,0,0
2260685,36400.0,36400.0,36400.0,60 months,14.49,856.24,C,95000.0,720.0,724.0,2539.420000,2539.42,1265.29,1274.13,554.0,550.0,1,0
2260686,23800.0,23800.0,23800.0,60 months,14.49,559.85,C,119000.0,685.0,689.0,29818.871195,29818.87,23800.00,6018.87,679.0,675.0,0,0

In [38]:
df2.drop(columns='term', inplace = True)
df2

/Users/ec/opt/anaconda3/envs/learn-env/lib/python3.8/site-packages/pandas/core/frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,grade,annual_inc,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low,is_delinquent,long_term_loan
0,3600.0,3600.0,3600.0,13.99,123.03,C,55000.0,675.0,679.0,4421.723917,4421.72,3600.00,821.72,564.0,560.0,0,0
1,24700.0,24700.0,24700.0,11.99,820.28,C,65000.0,715.0,719.0,25679.660000,25679.66,24700.00,979.66,699.0,695.0,0,0
2,20000.0,20000.0,20000.0,10.78,432.66,B,63000.0,695.0,699.0,22705.924294,22705.92,20000.00,2705.92,704.0,700.0,0,0
4,10400.0,10400.0,10400.0,22.45,289.91,F,104433.0,695.0,699.0,11740.500000,11740.50,10400.00,1340.50,704.0,700.0,0,0
5,11950.0,11950.0,11950.0,13.44,405.18,C,34000.0,690.0,694.0,13708.948530,13708.95,11950.00,1758.95,759.0,755.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260688,18000.0,18000.0,18000.0,9.49,377.95,B,130000.0,735.0,739.0,20756.233632,20756.23,18000.00,2756.23,709.0,705.0,0,0
2260690,29400.0,29400.0,29400.0,13.99,683.94,C,180792.0,705.0,709.0,35848.764532,35848.76,29400.00,6448.76,719.0,715.0,0,0
2260691,32000.0,32000.0,32000.0,14.49,752.74,C,157000.0,735.0,739.0,3737.940000,3737.94,1876.47,1861.47,499.0,0.0,1,0
2260692,16000.0,16000.0,16000.0,12.79,362.34,C,150000.0,665.0,669.0,18660.607569,18660.61,16000.00,2660.61,684.0,680.0,0,0
2260697,24000.0,24000.0,24000.0,14.49,564.56,C,110000.0,660.0,664.0,6755.400000,6755.40,3521.91,3233.49,594.0,590.0,1,0

In [39]:
df4 = df2[df2['is_delinquent'] == 0]
df4

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,grade,annual_inc,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low,is_delinquent,long_term_loan
0,3600.0,3600.0,3600.0,13.99,123.03,C,55000.0,675.0,679.0,4421.723917,4421.72,3600.0,821.72,564.0,560.0,0,0
1,24700.0,24700.0,24700.0,11.99,820.28,C,65000.0,715.0,719.0,25679.660000,25679.66,24700.0,979.66,699.0,695.0,0,0
2,20000.0,20000.0,20000.0,10.78,432.66,B,63000.0,695.0,699.0,22705.924294,22705.92,20000.0,2705.92,704.0,700.0,0,0
4,10400.0,10400.0,10400.0,22.45,289.91,F,104433.0,695.0,699.0,11740.500000,11740.50,10400.0,1340.50,704.0,700.0,0,0
5,11950.0,11950.0,11950.0,13.44,405.18,C,34000.0,690.0,694.0,13708.948530,13708.95,11950.0,1758.95,759.0,755.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260684,15000.0,15000.0,15000.0,10.49,487.47,B,60000.0,680.0,684.0,15908.001163,15908.00,15000.0,908.00,724.0,720.0,0,0
2260686,23800.0,23800.0,23800.0,14.49,559.85,C,119000.0,685.0,689.0,29818.871195,29818.87,23800.0,6018.87,679.0,675.0,0,0
2260688,18000.0,18000.0,18000.0,9.49,377.95,B,130000.0,735.0,739.0,20756.233632,20756.23,18000.0,2756.23,709.0,705.0,0,0
2260690,29400.0,29400.0,29400.0,13.99,683.94,C,180792.0,705.0,709.0,35848.764532,35848.76,29400.0,6448.76,719.0,715.0,0,0
2260692,16000.0,16000.0,16000.0,12.79,362.34,C,150000.0,665.0,669.0,18660.607569,18660.61,16000.0,2660.61,684.0,680.0,0,0

In [40]:
df4.is_delinquent.value_counts()

0    1076751
Name: is_delinquent, dtype: int64

In [41]:
df5 = df4.sample(n=100000)
df5

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,grade,annual_inc,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low,is_delinquent,long_term_loan
126847,12000.0,12000.0,12000.00,18.55,308.33,E,25000.0,690.0,694.0,15442.491313,15442.49,12000.0,3442.49,714.0,710.0,0,0
223457,20000.0,20000.0,20000.00,12.29,667.06,C,72000.0,665.0,669.0,24043.212021,24043.21,20000.0,4043.21,569.0,565.0,0,0
1172065,14000.0,14000.0,14000.00,8.39,441.24,A,40000.0,695.0,699.0,15868.015401,15868.02,14000.0,1868.02,759.0,755.0,0,0
1295370,24000.0,24000.0,24000.00,9.67,770.70,B,165000.0,735.0,739.0,25859.470000,25859.47,24000.0,1859.47,719.0,715.0,0,0
1640570,10000.0,10000.0,10000.00,10.75,326.21,B,51160.0,715.0,719.0,10710.409699,10710.41,10000.0,710.41,734.0,730.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55427,4000.0,4000.0,4000.00,7.89,125.15,A,58500.0,750.0,754.0,4243.910000,4243.91,4000.0,243.91,759.0,755.0,0,0
1947411,10000.0,10000.0,10000.00,13.99,341.73,C,75000.0,660.0,664.0,10487.871040,10487.87,10000.0,487.87,689.0,685.0,0,0
1634396,6000.0,6000.0,5991.13,6.17,183.00,A,54000.0,740.0,744.0,6359.485695,6348.82,6000.0,359.49,779.0,775.0,0,0
248234,10000.0,10000.0,10000.00,8.18,314.20,B,32000.0,685.0,689.0,11302.105623,11302.11,10000.0,1302.11,699.0,695.0,0,0
642561,24000.0,24000.0,24000.00,11.99,797.03,B,125000.0,755.0,759.0,24999.143958,24999.14,24000.0,999.14,734.0,730.0,0,0

In [42]:
df3

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,annual_inc,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low,is_delinquent,long_term_loan
218963,8800.0,8800.0,8800.0,36 months,15.61,307.70,30000.0,680.0,684.0,3677.140000,3677.14,2492.02,1185.12,574.0,570.0,1,0
1086540,17300.0,17300.0,17300.0,60 months,21.48,472.71,28080.0,675.0,679.0,15449.750000,15449.75,7248.86,8200.89,499.0,0.0,1,0
1105313,16800.0,16800.0,16800.0,60 months,19.48,440.26,80000.0,695.0,699.0,1815.580000,1815.58,686.65,1128.93,619.0,615.0,1,0
1053847,16000.0,16000.0,16000.0,36 months,5.32,481.84,85000.0,750.0,754.0,7653.180000,7653.18,5486.21,776.97,549.0,545.0,1,0
175573,10000.0,10000.0,9875.0,36 months,12.29,333.53,35035.0,680.0,684.0,5374.810000,5307.62,3987.91,1386.90,569.0,565.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1706429,8400.0,8400.0,8400.0,36 months,14.99,291.15,38684.0,670.0,674.0,9812.675465,9812.68,8400.00,1412.68,729.0,725.0,0,0
1793080,24000.0,24000.0,24000.0,60 months,15.10,572.22,75000.0,720.0,724.0,34333.101034,34333.10,24000.00,10333.10,814.0,810.0,0,0
190224,35000.0,35000.0,35000.0,60 months,18.25,893.54,155000.0,695.0,699.0,37288.040000,37288.04,35000.00,2288.04,689.0,685.0,0,0
1847861,2800.0,2800.0,2800.0,36 months,13.11,94.50,49200.0,735.0,739.0,3181.949958,3181.95,2800.00,381.95,799.0,795.0,0,0
509026,35425.0,35425.0,35425.0,36 months,21.45,1342.84,250000.0,780.0,784.0,38381.026958,38381.03,35425.00,2956.03,729.0,725.0,0,0

In [43]:
df5

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,grade,annual_inc,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low,is_delinquent,long_term_loan
126847,12000.0,12000.0,12000.00,18.55,308.33,E,25000.0,690.0,694.0,15442.491313,15442.49,12000.0,3442.49,714.0,710.0,0,0
223457,20000.0,20000.0,20000.00,12.29,667.06,C,72000.0,665.0,669.0,24043.212021,24043.21,20000.0,4043.21,569.0,565.0,0,0
1172065,14000.0,14000.0,14000.00,8.39,441.24,A,40000.0,695.0,699.0,15868.015401,15868.02,14000.0,1868.02,759.0,755.0,0,0
1295370,24000.0,24000.0,24000.00,9.67,770.70,B,165000.0,735.0,739.0,25859.470000,25859.47,24000.0,1859.47,719.0,715.0,0,0
1640570,10000.0,10000.0,10000.00,10.75,326.21,B,51160.0,715.0,719.0,10710.409699,10710.41,10000.0,710.41,734.0,730.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55427,4000.0,4000.0,4000.00,7.89,125.15,A,58500.0,750.0,754.0,4243.910000,4243.91,4000.0,243.91,759.0,755.0,0,0
1947411,10000.0,10000.0,10000.00,13.99,341.73,C,75000.0,660.0,664.0,10487.871040,10487.87,10000.0,487.87,689.0,685.0,0,0
1634396,6000.0,6000.0,5991.13,6.17,183.00,A,54000.0,740.0,744.0,6359.485695,6348.82,6000.0,359.49,779.0,775.0,0,0
248234,10000.0,10000.0,10000.00,8.18,314.20,B,32000.0,685.0,689.0,11302.105623,11302.11,10000.0,1302.11,699.0,695.0,0,0
642561,24000.0,24000.0,24000.00,11.99,797.03,B,125000.0,755.0,759.0,24999.143958,24999.14,24000.0,999.14,734.0,730.0,0,0

In [45]:
df6 = pd.concat([df3,df5], axis =0)
df6

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,annual_inc,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low,is_delinquent,long_term_loan,grade
218963,8800.0,8800.0,8800.00,36 months,15.61,307.70,30000.0,680.0,684.0,3677.140000,3677.14,2492.02,1185.12,574.0,570.0,1,0,NaN
1086540,17300.0,17300.0,17300.00,60 months,21.48,472.71,28080.0,675.0,679.0,15449.750000,15449.75,7248.86,8200.89,499.0,0.0,1,0,NaN
1105313,16800.0,16800.0,16800.00,60 months,19.48,440.26,80000.0,695.0,699.0,1815.580000,1815.58,686.65,1128.93,619.0,615.0,1,0,NaN
1053847,16000.0,16000.0,16000.00,36 months,5.32,481.84,85000.0,750.0,754.0,7653.180000,7653.18,5486.21,776.97,549.0,545.0,1,0,NaN
175573,10000.0,10000.0,9875.00,36 months,12.29,333.53,35035.0,680.0,684.0,5374.810000,5307.62,3987.91,1386.90,569.0,565.0,1,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55427,4000.0,4000.0,4000.00,NaN,7.89,125.15,58500.0,750.0,754.0,4243.910000,4243.91,4000.00,243.91,759.0,755.0,0,0,A
1947411,10000.0,10000.0,10000.00,NaN,13.99,341.73,75000.0,660.0,664.0,10487.871040,10487.87,10000.00,487.87,689.0,685.0,0,0,C
1634396,6000.0,6000.0,5991.13,NaN,6.17,183.00,54000.0,740.0,744.0,6359.485695,6348.82,6000.00,359.49,779.0,775.0,0,0,A
248234,10000.0,10000.0,10000.00,NaN,8.18,314.20,32000.0,685.0,689.0,11302.105623,11302.11,10000.00,1302.11,699.0,695.0,0,0,B
642561,24000.0,24000.0,24000.00,NaN,11.99,797.03,125000.0,755.0,759.0,24999.143958,24999.14,24000.00,999.14,734.0,730.0,0,0,B

In [46]:
df6.drop(columns='grade', inplace=True)
df6

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,annual_inc,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low,is_delinquent,long_term_loan
218963,8800.0,8800.0,8800.00,36 months,15.61,307.70,30000.0,680.0,684.0,3677.140000,3677.14,2492.02,1185.12,574.0,570.0,1,0
1086540,17300.0,17300.0,17300.00,60 months,21.48,472.71,28080.0,675.0,679.0,15449.750000,15449.75,7248.86,8200.89,499.0,0.0,1,0
1105313,16800.0,16800.0,16800.00,60 months,19.48,440.26,80000.0,695.0,699.0,1815.580000,1815.58,686.65,1128.93,619.0,615.0,1,0
1053847,16000.0,16000.0,16000.00,36 months,5.32,481.84,85000.0,750.0,754.0,7653.180000,7653.18,5486.21,776.97,549.0,545.0,1,0
175573,10000.0,10000.0,9875.00,36 months,12.29,333.53,35035.0,680.0,684.0,5374.810000,5307.62,3987.91,1386.90,569.0,565.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55427,4000.0,4000.0,4000.00,NaN,7.89,125.15,58500.0,750.0,754.0,4243.910000,4243.91,4000.00,243.91,759.0,755.0,0,0
1947411,10000.0,10000.0,10000.00,NaN,13.99,341.73,75000.0,660.0,664.0,10487.871040,10487.87,10000.00,487.87,689.0,685.0,0,0
1634396,6000.0,6000.0,5991.13,NaN,6.17,183.00,54000.0,740.0,744.0,6359.485695,6348.82,6000.00,359.49,779.0,775.0,0,0
248234,10000.0,10000.0,10000.00,NaN,8.18,314.20,32000.0,685.0,689.0,11302.105623,11302.11,10000.00,1302.11,699.0,695.0,0,0
642561,24000.0,24000.0,24000.00,NaN,11.99,797.03,125000.0,755.0,759.0,24999.143958,24999.14,24000.00,999.14,734.0,730.0,0,0

In [47]:
df6.long_term_loan.value_counts()

0    300000
Name: long_term_loan, dtype: int64

In [48]:
df6.drop(columns='long_term_loan', inplace=True)
df6

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,annual_inc,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low,is_delinquent
218963,8800.0,8800.0,8800.00,36 months,15.61,307.70,30000.0,680.0,684.0,3677.140000,3677.14,2492.02,1185.12,574.0,570.0,1
1086540,17300.0,17300.0,17300.00,60 months,21.48,472.71,28080.0,675.0,679.0,15449.750000,15449.75,7248.86,8200.89,499.0,0.0,1
1105313,16800.0,16800.0,16800.00,60 months,19.48,440.26,80000.0,695.0,699.0,1815.580000,1815.58,686.65,1128.93,619.0,615.0,1
1053847,16000.0,16000.0,16000.00,36 months,5.32,481.84,85000.0,750.0,754.0,7653.180000,7653.18,5486.21,776.97,549.0,545.0,1
175573,10000.0,10000.0,9875.00,36 months,12.29,333.53,35035.0,680.0,684.0,5374.810000,5307.62,3987.91,1386.90,569.0,565.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55427,4000.0,4000.0,4000.00,NaN,7.89,125.15,58500.0,750.0,754.0,4243.910000,4243.91,4000.00,243.91,759.0,755.0,0
1947411,10000.0,10000.0,10000.00,NaN,13.99,341.73,75000.0,660.0,664.0,10487.871040,10487.87,10000.00,487.87,689.0,685.0,0
1634396,6000.0,6000.0,5991.13,NaN,6.17,183.00,54000.0,740.0,744.0,6359.485695,6348.82,6000.00,359.49,779.0,775.0,0
248234,10000.0,10000.0,10000.00,NaN,8.18,314.20,32000.0,685.0,689.0,11302.105623,11302.11,10000.00,1302.11,699.0,695.0,0
642561,24000.0,24000.0,24000.00,NaN,11.99,797.03,125000.0,755.0,759.0,24999.143958,24999.14,24000.00,999.14,734.0,730.0,0

In [49]:
df6.drop(columns='term', inplace=True)
df6

,loan_amnt,funded_amnt,funded_amnt_inv,int_rate,installment,annual_inc,fico_range_low,fico_range_high,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,last_fico_range_high,last_fico_range_low,is_delinquent
218963,8800.0,8800.0,8800.00,15.61,307.70,30000.0,680.0,684.0,3677.140000,3677.14,2492.02,1185.12,574.0,570.0,1
1086540,17300.0,17300.0,17300.00,21.48,472.71,28080.0,675.0,679.0,15449.750000,15449.75,7248.86,8200.89,499.0,0.0,1
1105313,16800.0,16800.0,16800.00,19.48,440.26,80000.0,695.0,699.0,1815.580000,1815.58,686.65,1128.93,619.0,615.0,1
1053847,16000.0,16000.0,16000.00,5.32,481.84,85000.0,750.0,754.0,7653.180000,7653.18,5486.21,776.97,549.0,545.0,1
175573,10000.0,10000.0,9875.00,12.29,333.53,35035.0,680.0,684.0,5374.810000,5307.62,3987.91,1386.90,569.0,565.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55427,4000.0,4000.0,4000.00,7.89,125.15,58500.0,750.0,754.0,4243.910000,4243.91,4000.00,243.91,759.0,755.0,0
1947411,10000.0,10000.0,10000.00,13.99,341.73,75000.0,660.0,664.0,10487.871040,10487.87,10000.00,487.87,689.0,685.0,0
1634396,6000.0,6000.0,5991.13,6.17,183.00,54000.0,740.0,744.0,6359.485695,6348.82,6000.00,359.49,779.0,775.0,0
248234,10000.0,10000.0,10000.00,8.18,314.20,32000.0,685.0,689.0,11302.105623,11302.11,10000.00,1302.11,699.0,695.0,0
642561,24000.0,24000.0,24000.00,11.99,797.03,125000.0,755.0,759.0,24999.143958,24999.14,24000.00,999.14,734.0,730.0,0

In [50]:
df6.to_csv('df2.csv')